<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{aspcms:sitetitle}</title>
<meta name="Keywords" content="[about:keyword]" >
<meta name="Description" content="[about:desc]" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/index.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/global.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/about.css">
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/bootstrap.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.nicescroll.min.js"></script>
</head>
<body>
<div class="scroll-top" onclick="scrollMove()">&gt;</div>
{aspcms:top}
	<div class="banner"></div>
	<div class="container mt50">
		<h3 class="tc" style="font-family: '宋体';padding-top: 30px;"><span class="bold">走进雅宝</span></h3>
		<p class="tc f14px" style="color:#b9b9b9;padding-bottom: 50px;padding-top: 10px;">- 欢迎您来到雅宝，这里记录着雅宝创立以来的点点滴滴 -</p>
		<div class="row">
			<div class="col-md-4">
				<ul class="about-list f14px">
					<a href="javascript:;" onclick="thisTop(1)"><li><span class="gt">&gt</span><span>公司简介</span></li></a> <!--onclick="scrollMove(2,about)"-->
					<a href="javascript:;" onclick="thisTop(2)"><li><span class="gt">&gt</span><span>资质荣誉</span></li></a> <!--onclick="scrollMove(2,rongy)"-->
					<a href="javascript:;" onclick="thisTop(3)"><li><span class="gt">&gt</span><span>大 事 件</span></li></a><!--onclick="scrollMove(2,lishi)"-->
					<!--<a href="/list/?5.html" target="_blank"><li><span class="gt">&gt</span><span>成功案例</span></li></a>-->
					<a href="/gbook/" target="_blank"><li><span class="gt">&gt</span><span>联系我们</span></li></a>
				</ul>
			</div>
			<div class="col-md-8" id="about">
				<a href="#" style="display:block;width:0px;height:0px;" name="honor"></a>
				<h2 style="background:#1ABC9C;color:#fff;width:150px;padding-left:15px;">公司简介</h2>
				<div class="line mt20"></div>
				<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/slide_2.jpg" width=300px height=300px class="img-responsive" style="float: left;margin-right: 15px;margin-bottom: 5px;">
				<p class="f14px indent25">厦门市雅宝信息技术有限公司为民营高科技企业，是厦门市科委首批认定的科技先导型企业、首批认定的技术贸易机构。公司董事长为中国民营科技促进协会理事，厦门民营科技实业家协会常务副会长，厦门电脑业商会会长。公司以计算机软件、硬件系统及其相关设备的集成为主，集科、工、贸于一体。
公司自92年成立以来，通过不懈的努力和追求，现已发展成为专业的计算机系统集成服务商。公司凭藉着良好的信誉、优质的服务及不断的技术创新，赢得了广大用户的信赖与支持。“用户至上，信誉第一”是雅宝始终如一的宗旨。如今，雅宝公司已拥有雄厚的资金实力和强大的技术力量，各类客户遍及省内外各地的各个系统、部门，成为本地计算机行业的主要供货服务商。
成功的企业离不开优秀的人才，公司共有员工近八十人，其中本科以上的技术及管理人员二十八名，维护服务技术人员二十六名，拥有F5 SE二名，CCNA、CCNP四名，MCSE十名，这是一支由电脑软、硬件专业人员，电子工程人员组成的强大科技队伍，专业从事计算机安全与存储系统的集成，计算机软、硬件开发及销售，自动识别解决方案，网络工程设计和安装，系统软件集成，技术咨询等高科技服务项目。
全体雅宝人将秉承“尽心尽力，尽善尽美”的工作精神，把公司建设成为计算机业界的一流高科技企业。</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row f14px">
			<div class="col-md-4"></div>
			<div class="col-md-8" id="rongy">
				<a href="#" style="display:block;width:0px;height:0px;" name="big"></a>
				<h2 style="background:#1ABC9C;color:#fff;width:150px;padding-left:15px;">资质荣誉</h2>
				<div class="line mt20"></div>
				<div class="rongyu fr tc">
					<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/荣誉柜.jpg" width=300px height=auto style="margin-left: 15px;margin-bottom: 5px;">
					<p>公司荣誉贵</p>
				</div>
				<p>1997 年厦门市政府认定为创建科技先导型试点企业
				<p>1998 年 7 月被厦门市科学技术局认定为“高新技术企业”</p>
				<p>1998 年 8 月被厦门市科学技术局授予“技术贸易机构资格证”</p>
				<p>1999 年 12 月被厦门市政府认定为首批“科技先导型企业”</p>
				<p>2001 年 4 月被厦门市科委认定为“民营科技企业”</p>
				<p>2002 年成为厦门总商会第十届理事会理事单位</p>
				<p>2004 年 3 月被厦门总商会授予“诚信企业”</p>

			</div>
		</div>
	</div>
	<div class="container mb150">
		<div class="row f14px">
			<div class="col-md-4"></div>
			<div class="col-md-8" id="lishi">
				<h2 style="background:#1ABC9C;color:#fff;width:120px;padding-left:15px;">大事件</h2>
				<div class="line mt20"></div>
				<p>> 1、1992年成立厦门市雅宝电脑有限公司
				<p>> 2、1996年成立厦门雅宝现代办公设备有限公司（关联公司）</p>
				<p>> 3、1997年厦门市政府认定为创建科技先导型试点企业</p>
				<p>> 4、1998年成立厦门雅宝商业办公设备有限公司（关联公司）</p>
				<p>> 5、1998年7月被厦门市科学技术局认定为“高新技术企业”</p>
				<p>> 6、1998年8月被厦门市科学技术局授予首批“技术贸易机构资格证”</p>
				<p>> 7、1999年12月被厦门市政府认定为首批“科技先导型企业”</p>
				<p>> 8、2001年4月被厦门市科委认定为“民营科技企业”</p>
				<p>> 9、2002年成为厦门总商会理事会理事单位</p>
				<p>> 10、2004年3月被厦门总商会授予“诚信企业”称号</p>
				<p>> 11、2005年8月通过ISO9000认证。</p>
				<p>> 12、2010年7月更名为厦门市雅宝信息技术有限公司。</p>
			</div>
		</div>
	</div>
{aspcms:foot}
</body>
<script>
$('.left-line').click(function(){
	$('.list-mobile').slideToggle()
});

$(document).ready( function() {
	$("html").niceScroll({
		cursorborder:'1px solid rgba(255,255,255,0.5)',
		zindex:99
	}); 
});
$(window).scroll(function(){
	var top = $(window).scrollTop();
	if(top >= 10){
		$('.scroll-top').css({'opacity':'1'})
	}else if(top <= 50){
		$('.scroll-top').css({'opacity':'0'})
	}
})
function thisTop(type){
	if(type == 1){
		var h = $('#about').offset().top;
		$('body,html').animate({
			scrollTop:h - 102
		},300);
	}
	if(type == 2){
		var h = $('#rongy').offset().top;
		$('body,html').animate({
			scrollTop:h - 102
		},300);
	}
	if(type == 3){
		var h = $('#lishi').offset().top;
		$('body,html').animate({
			scrollTop:h - 102
		},300);
	}
	
}
function scrollMove(){
	var h = 0;
	$('body,html').animate({
		scrollTop:h
	},300);
}
</script>
</html>