<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{aspcms:sitetitle}</title>
<meta name="Keywords" content="[about:keyword]" >
<meta name="Description" content="[about:desc]" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/index.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/global.css">
<link type="text/css" rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/about.css">
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/bootstrap.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.nicescroll.min.js"></script>
</head>
<style>
	body{background:#f8f8f8;}
</style>
<body>
<div class="scroll-top" onclick="scrollMove()">&gt;</div>
{aspcms:top}
<div class="banner-human"></div>
<div class="container" style="padding-top:80px;">
	<div class="cust-list clearfix">
		<h3 class="tc" style="font-family: '宋体';"><span class="bold">人力资源</span></h3>
		<h5 class="tc" style="color:#b9b9b9;padding-bottom: 50px;padding-top: 10px;">- 雅宝人性化的管理对每一位员工呵护倍加，我们拥有致力于开发员工福利的强大后勤 -</h5>
		<div class="container">
			<div class="row">
				<div class="col-md-12 f14px" style="padding-bottom: 40px;">
					<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/sliderbg.jpg" width="100%" height="auto">
				</div>
				<a href="#" style="display:block;width:0px;height:0px;" name="culture"></a>
				<h3 class="tc" style="font-family: '宋体';"><span class="bold">企业文化</span></h3>
				<h5 class="tc" style="color:#b9b9b9;padding-top: 10px;">- 雅宝良好的企业文化，造就了每一代雅宝人真诚地服务态度 -</h5>
				<div class="col-md-12 f14px">
				<a href="#" style="display:block;width:0px;height:0px;" name="compensation"></a>
					<div class="service-style tc">
						<h3>以人为本，服务至上</h3>
						<h3>尽心尽力，尽善尽美</h3>
					</div>
				</div>
				<!--<div class="col-md-12 f14px">
					<h3 class="tc">工作氛围</h3>
				</div>
				<div class="col-md-12 human-img mt30">
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/办公区.jpg">
						<p>办公区</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/测试设备.jpg">
						<p>测试设备</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/公司一角.jpg">
						<p>公司一角</p>
					</div>
				</div>
				<div class="col-md-12 human-img mt30">
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/会客室.jpg">
						<p>会客室</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/会议室.jpg">
						<p>会议室</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/荣誉柜.jpg">
						<p>荣誉柜</p>
					</div>
				</div>-->
				<div class="col-md-12 f14px">
				<a href="#" style="display:block;width:0px;height:0px;" name="compensation"></a>
					<div class="service-style">
						<h3>薪资待遇</h3>
						<p>公司根据各类岗位制定完善、合理的薪资体系，确保对内公平公正，在业内富有竞争力。每年度，我们将根据市场环境、行业标准对员工薪酬体系进行相应调整。</p>
					</div>
					<div class="service-style">
						<h3>年度奖</h3>
						<p>根据公司年度经营情况，结合部门及个人的绩效考核结果，为绩优员工发放年度奖。</p>
					</div>
					<div class="service-style">
						<h3>社会保障</h3>
						<p>公司根据国家相关政策规定，为全体员工办理养老、医疗、生育、失业、工伤社会保险。此外，我们还为每位员工缴纳补充医疗保险。</p>
					</div>
					<div class="service-style">
						<h3>休假类</h3>
						<p>遵照国家法律法规，员工在雅宝充分享受法定节假日和休息日休假，并根据在公司的连续服务年限享受相应的带薪年休假。此外，员工还可依法享有婚假、计划生育假、丧假、产假、哺乳假、陪产假等带薪假。</p>
					</div>
				</div>
				<!--<div class="col-md-12 f14px">
					<h3 class="tc">文化活动</h3>
				</div>-->
				<!--<div class="col-md-12 human-img mt30">
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/雅宝赞助厦门足球联赛.jpg">
						<p>雅宝赞助厦门足球联赛</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/雅宝足球俱乐部.jpg">
						<p>雅宝足球俱乐部</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2005年中秋节鳄鱼岛活动.jpg">
						<p>2005年中秋节鳄鱼岛活动</p>
					</div>
				</div>
				<div class="col-md-12 human-img mt30">
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2012年中秋节地质公园活动.jpg">
						<p>2012年中秋节地质公园活动</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2013年年会.jpg">
						<p>2013年年会</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2014年年会1.jpg">
						<p>2014年年会</p>
					</div>
				</div>
				<div class="col-md-12 human-img mt30 mb80">
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2015年春节游玩活动.jpg">
						<p>2015年春节游玩活动</p>
					</div>
					<div class="col-md-4">
						<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/2016年耗材部三八妇女节活动.jpg">
						<p>2016年耗材部三八妇女节活动</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>
{aspcms:foot}
</body>
<script>
$('.left-line').click(function(){
	$('.list-mobile').slideToggle()
});

$(document).ready( function() {
	$("html").niceScroll({
		cursorborder:'1px solid rgba(255,255,255,0.5)',
		zindex:99
	}); 
});
$(window).scroll(function(){
	var top = $(window).scrollTop();
	if(top >= 10){
		$('.scroll-top').css({'opacity':'1'})
	}else if(top <= 50){
		$('.scroll-top').css({'opacity':'0'})
	}
})
function scrollMove(){
	var h = 0
	$('body,html').animate({
		scrollTop:h
	},300);
}
</script>
</html>