<div class="bottom">
	<div class="container pdt50">
		<div class="row">
			<div class="col-md-4">
				<h3 class="mb20" style="color:#999;">关于雅宝</h3>
				<div class="bottom-line mb20"></div>
				<p class="f14px mb20">厦门市雅宝信息技术有限公司为民营高科技企业，是厦门市科委首批认定的科技先导型企业、首批认定的技术贸易机构。<br>公司董事长为中国民营科技促进协会理事，厦门民营科技实业家协会常务副会长，厦门电脑业商会会长。公司以计算机软件、硬件系统及其相关设备的集成为主，集科、工、贸于一体。</p>
				<div class="bottom-line mb20"></div>
				<p class="f14px">Copyright &#169 2016 XIAMEN AUPO All Rights Reserved.</p>
			</div>
			<div class="col-md-4">
				<h3 class="mb20" style="color:#999;">雅宝地址</h3>
				<div class="bottom-line mb20"></div>
				<div class="bottom-add-mation clearfix">
					<i class="bottom-icon fl glyphicon glyphicon-map-marker"></i><span>{aspcms:companyaddress}</span><br>
					<i class="bottom-icon fl glyphicon glyphicon-earphone"></i><span>{aspcms:companyphone}</span><br>
					<i class="bottom-icon fl glyphicon glyphicon-envelope"></i><span>{aspcms:companyemail}</span><br>
					<i class="bottom-icon fl glyphicon glyphicon-print"></i><span>{aspcms:companyfax}</span><br>
					<i class="bottom-icon fl glyphicon glyphicon-send"></i><span>http://www.aupo.com.cn</span>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="mb20" style="color:#999;">网站导航</h3>
				<div class="bottom-line mb20"></div>
				<div class="bottom-nav">
					<a href="/about/?19.html" target="_blank">走进雅宝</a><br>
					<!--<a href="/list/?5.html" target="_blank">成功案例</a><br>-->
					<a href="/list/?15.html" target="_blank">解决方案</a><br>
					<a href="/list/?1.html" target="_blank">服务与支持</a><br>
					<a href="/list/?8.html" target="_blank">人力资源</a>
				</div>
			</div>
		</div>
		<div class="tc" style="margin:0 auto; padding:20px 0;">
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35020302001227" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35020302001227号</p></a>
		</div>
	</div>
</div>