<nav class="nav" style="background-color: #fff;border-bottom: 1px solid #e2e2e2">
	<div class="logokj">
		<div class="logo fl" style="border-color:#e2e2e2;">
			<img class="logo-img" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/logo.png" alt="LOGO">
		</div>
	</div>
	<div class="nav-right fr"></div>
	<ul class="list fr" style="border-color:#e2e2e2;">
		<li class="list-li tc"><a href="{aspcms:sitepath}{aspcms:languagepath}" class="list-li-a about-nav">首页</a></li>
		<li class="about-us list-li">
			<a href="/about/?19.html" class="list-li-a about-nav">走进雅宝</a>
			<ul  class="about-us-li about">
				<a href="/about/?19.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-th-list"></i><span>公司简介</span></div></li></a>
				<a href="/about/?19.html#honor"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-stats"></i><span>资质荣誉</span></div></li></a>
				<a href="/about/?19.html#big"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-star"></i><span>大事件</span></div></li></a>
				<!--<a href="/list/?5.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-briefcase"></i><span>成功案例</span></div></li></a>-->
				<a href="/gbook/"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-earphone"></i><span>联系我们</span></div></li></a>
			</ul>
		</li>
		<li class="case list-li">
			<a href="/list/?15.html" class="list-li-a about-nav">解决方案</a>
			<ul class="case-li about">
				<a href="/content/?391.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-tower"></i><span>桌面云解决方案6.0概述</span></div></li></a>
				<a href="/content/?390.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-tower"></i><span>华为敏捷数据中心网络解决方案</span></div></li></a>
				<a href="/content/?386.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-tower"></i><span>敏捷园区网解决方案</span></div></li></a>
				<a href="/content/?389.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-tower"></i><span>可视化解决方案</span></div></li></a>
			</ul>
		</li>
		<li class="severs list-li">
			<a href="/list/?11_1.html" class="list-li-a about-nav">服务与支持</a>
			<ul class="severs-li about">
				<a href="/list/?11_1.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-tower"></i><span>服务理念</span></div></li></a>
				<a href="/list/?11_1.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-wrench"></i><span>售后服务体系</span></div></li></a>
			</ul>
		</li>
		<li class="resource list-li">
			<a href="/list/?8.html" class="list-li-a tc about-nav">人力资源</a>
			<ul class="resource-li about">
				<a href="/list/?8.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-thumbs-up"></i><span>加入我们</span></div></li></a>
				<a href="/list/?8.html#culture"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon glyphicon-road"></i><span>企业文化</span></div></li></a>
				<a href="/list/?8.html#compensation"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-bullhorn"></i><span>薪酬福利</span></div></li></a>
				<!--<a href="/list/?8.html"><li><div class="nav-secen clearfix"><i class="icon glyphicon glyphicon-picture"></i><span>工作氛围</span></div></li></a>-->
			</ul>
		</li>
	</ul>
</nav>
<nav class="nav-mobile">
	<div class="left-mobile fl" href="">
		<div class="left-line">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="nav-right-mobile">
		<img class="nav-right-mobile-img" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/aupoLogoC.png" alt="LOGO">
	</div>
	<ul class="list-mobile" style="display: none;">
		<a href="{aspcms:sitepath}{aspcms:languagepath}"><li>首页</li></a>
		<a href="/about/?19.html"><li>走进雅宝</li></a>
		<!--<a href="/list/?5.html"><li>成功案例</li></a>-->
		<a href="/gbook/"><li>联系我们</li></a>
		<a href="/list/?15.html"><li>解决方案</li></a>
		<a href="/list/?11.html"><li>服务与支持</li></a>
		<a href="/list/?8.html"><li>人力资源</li></a>
	</ul>
</nav>
<div class="qrcode tc">
	<h4><b>雅宝公众号</b></h4>
	<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/yabao.jpg" width="100px">
</div>