	<div class="espcms_page_left">
		<h2>{aspcms:sortname}</h2>
		<ul id="three" class="treeview">
		
		 {aspcms:navlist type={aspcms:topsortid}}
						<li class="onefast">
				<a href="[navlist:link]">[navlist:name]</a>
							</li>
							
							
				{/aspcms:navlist}
				
					</ul>

		<div class="imglink">
		<a href="/about/?19.html"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1_34.jpg" /></a>
        	
            <a href="/gbook/?18_1.html"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1_32.jpg" /></a>
            <a href="/about/?9.html"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1_24.jpg" /></a>
       
	</div>


	</div>